[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
dbus-python = "*"
python-systemd-dbus = "*"
"boto3" = "*"
uWSGI = "*"
Flask-Cors = "*"
six = "*"
python-dotenv = "*"
python-jose-cryptodome = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
